<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Actualizar Colaborador</h4>
              <p class="card-category">Registre un nuevo usuario para el sistema de ticket</p>
            </div>
            <div class="card-body">
              <form [formGroup]="form">
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput formControlName="codempleado" placeholder="Codigo empleado">
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field>
                      <mat-label>Area</mat-label>
                      <mat-select  formControlName="area" name="area">
                        <mat-option *ngFor="let valor of areas" [value]="valor.value">
                          {{valor.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
  
  
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <input matInput formControlName="nombre" placeholder="Nombre">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <input matInput formControlName="apellido" placeholder="Apellido">
                    </mat-form-field>
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-5">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Usuario" formControlName="usuario" type="email">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Clave" formControlName="password" type="password">
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field>
                      <mat-label>Administrador</mat-label>
                      <mat-select  formControlName="administador"  name="rol">
                        <mat-option *ngFor="let rol of listaAdministrador" [value]="rol">
                          {{rol}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
  
                <button mat-raised-button type="submit" (click)="actualizarColab()" class="btn btn-danger pull-right">Actualizar</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  <ngx-toast-notifier></ngx-toast-notifier>