<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <div class="row">
                            <div class="col-md-1">
                                <div class="card-icon">
                                    <i class="material-icons">content_copy</i>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <h3 class="card-title">Lista de Colaboradores</h3>
                            </div>
                            <div class="col-md-1">
                                <button mat-fab color="warn" [routerLink]="'/usuario-create'" aria-label="Example icon button with a home icon">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Codigo
                                    </th>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Area
                                    </th>
                                    <th>
                                        Usuario
                                    </th>
                                    <th>
                                        Administrador
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                           COD-001
                                        </td>
                                        <td>
                                            JosePerez dominguez
                                        </td>
                                        <td>
                                            Contabilidad
                                        </td>
                                        <td>
                                            OudTurnhout@gmail.com
                                        </td>
                                        <td class="text-primary">
                                            Si
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                           COD-002
                                        </td>
                                        <td>
                                            Luis peraltes contreraz
                                        </td>
                                        <td>
                                            Recursos Humanos
                                        </td>
                                        <td>
                                            luisper@gmail.com
                                        </td>
                                        <td class="text-primary">
                                            No
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                           COD-003
                                        </td>
                                        <td>
                                            Julio maldonado gutierrez
                                        </td>
                                        <td>
                                            Contabilidad
                                        </td>
                                        <td>
                                            luisper@gmail.com
                                        </td>
                                        <td class="text-primary">
                                            No
                                        </td>
                                    </tr>
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>